<div [ngClass]="{ 'dark text-white-dark': store.semidark }">
    <nav class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300">
        <div class="h-full bg-white dark:bg-[#0e1726]">
            <div class="flex items-center justify-between px-4 py-3">
                <a routerLink="/" class="main-logo flex shrink-0 items-center">
                    <img class="ml-[5px] w-8 flex-none" src="/assets/images/logo-pinjam.svg" alt="" />
                    <span class="align-middle text-2xl font-semibold dark:text-white-light lg:inline ltr:ml-1.5 rtl:mr-1.5">Pinjam Pak</span>
                </a>
                <a
                    href="javascript:;"
                    class="collapse-icon flex h-8 w-8 items-center rounded-full transition duration-300 hover:bg-gray-500/10 hover:text-primary dark:text-white-light dark:hover:bg-dark-light/10 rtl:rotate-180"
                    (click)="storeData.dispatch({ type: 'toggleSidebar'})"
                >
                    <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>
            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
                <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
                    <h2 class="-mx-4 mb-1 flex items-center bg-white-light/30 px-7 py-3 font-extrabold uppercase dark:bg-dark dark:bg-opacity-[0.08]">
                        <icon-minus class="hidden h-5 w-4 flex-none" />
                        <span>Dashboard</span>
                    </h2>

                    <li class="nav-item">
                        <ul>
                            <li class="nav-item">
                                <a routerLink="/dashboard/main" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-chat class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >Main</span
                                        >
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <h2 class="-mx-4 mb-1 flex items-center bg-white-light/30 px-7 py-3 font-extrabold uppercase dark:bg-dark dark:bg-opacity-[0.08]" *ngIf="currentUserRole === 'SUPERADMIN'">
                        <icon-minus class="hidden h-5 w-4 flex-none" />
                        <span>Manajemen</span>
                    </h2>

                    <li class="nav-item" *ngIf="currentUserRole === 'SUPERADMIN'">
                        <ul>
                            <li class="nav-item">
                                <a routerLink="/superadmin/users" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-chat class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >List User</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/superadmin/employee" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-mailbox class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >Manajemen Akun Pegawai</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/superadmin/roles" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-todo class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >Manajemen Role</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/superadmin/branch" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-notes class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >Manajemen Cabang</span
                                        >
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <h2 class="-mx-4 mb-1 flex items-center bg-white-light/30 px-7 py-3 font-extrabold uppercase dark:bg-dark dark:bg-opacity-[0.08]" *ngIf="currentUserRole !== 'SUPERADMIN'">
                        <icon-minus class="hidden h-5 w-4 flex-none" />
                        <span>Pengajuan</span>
                    </h2>

                    <li class="nav-item" *ngIf="currentUserRole !== 'SUPERADMIN'">
                        <ul>
                            <li class="nav-item">
                                <a routerLink="/pengajuan/list" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-chat class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >List Pengajuan</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="currentUserRole === 'MARKETING'">
                                <a routerLink="/pengajuan/approval" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-mailbox class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >Review Marketing</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="currentUserRole === 'MANAGER'">
                                <a routerLink="/pengajuan/acc" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-todo class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >Approval Manager</span
                                        >
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item" *ngIf="currentUserRole === 'BACKOFFICE'">
                                <a routerLink="/pengajuan/disburse" class="group" routerLinkActive="active" (click)="toggleMobileMenu()">
                                    <div class="flex items-center">
                                        <icon-menu-notes class="shrink-0 group-hover:!text-primary" />

                                        <span class="text-black dark:text-[#506690] dark:group-hover:text-white-dark ltr:pl-3 rtl:pr-3"
                                            >Disburse Cabang</span
                                        >
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ng-scrollbar>
        </div>
    </nav>
</div>
